#question1{
     /*border: 2px solid white;*/
     float: left;
     padding: 5px;
    margin: auto;
 }

#question2{
    /*border: 2px solid black;*/
    float: left;
    padding: 5px;
    margin: auto;
}

#question_container{
    /*border: 3px solid red;*/
    width: 800px;
    height: auto;
    margin: auto;
    margin-top: 20px;
}
